* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  border: 1px solid red;
}
.calculator {
  margin: 0 auto;
  margin-top: 10rem;
  height: 500px;
  width: 450px;
  border: 10px solid black;
}

.screen {
  height: 100px;
  border: 5px solid black;
  padding: 5px;
  font-size: 3.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: end;
  background-color: #b2b9b7;
}
.row {
  display: flex;
  background-color: black;
}
.btn {
  height: 77px;
  border-radius: 8px;
  background-color: green;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  font-size: xx-large;
}
.btn#zero {
  flex-grow: 2;
}
.btn.operator {
  background-color: coral;
}
.btn.special {
  background-color: #1e90ff;
}
